* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway';
	scroll-behavior: smooth;
}
html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
}

/* navigation header */
.header {
	width: 100%;
	height: 7vh;
	top: 0;
	position: fixed;
	border-bottom: 1px solid #a2d5ab;
	background-color: rgb(35, 30, 31);
	line-height: 7vh;
}
.header h3 {
	margin: 0 0 0 10vh;
	position: fixed;
	align-self: baseline;
}
.header h3 a {
	text-decoration: none;
	decoration: none;
	color: #eee;
	align-self: flex-end;
	text-transform: uppercase;
}
.header h3 a:hover {
	color: #a2d5ab;
}
.nav {
	height: 7vh;
	border-bottom: 1px solid #a2d5ab;
	text-align: right;
	line-height: 7vh;
}
#toggle {
	display: none;
}
label {
	width: 2.6vh;
	margin: 0 4vh 0 0;
	font-size: 2.6vh;
	line-height: 7vh;
	display: none;
	float: right;
	color: #eee;
}
.menu {
	margin: 0 3vh 0 0;
}
.menu a {
	margin: 0 1vh;
	clear: right;
	text-decoration: none;
	color: #eee;
	line-height: 70px;
}
.menu a:hover {
	background-color: rgb(35, 30, 31);
	color: #a2d5ab;
}

/* landing page */
#landing {
	height: 100%;
	max-width: 100%;
	background-image: url('img/e43e1b221fd960003dc27d2f2f1b8ce1.gif');
	background-repeat: no-repeat;
	background-color: rgb(35, 30, 31);
}
.landing {
	width: 70vw;
	margin: 2vh auto 0 auto;
	padding-top: 2%;
	border-radius: 1.5vh;
}
.container-greeting {
	padding-top: 15vh;
}
.greeting {
	padding: 0;
	display: flex;
	justify-content: center;
	color: #a2d5ab;
	font-size: 1.25em;
}
h1 {
	color: rgb(237, 237, 237);
	text-align: center;
	align-items: center;
	font-size: 5em;
}
/* Buttons to take you to about section and to view all projects */
.about-button,
.projects-button {
	height: 3vh;
	display: flex;
	justify-content: center;
	margin-top: 2vh;
}
button a {
	font-size: 2vh;
	text-decoration: none;
	decoration: none;
	color: black;
	background-color: #a2d5ab;
}
button a:hover {
	font-size: 2vh;
	text-decoration: none;
	decoration: none;
	background-color: #e5efc1;
	color: black;
}
/* Social Media buttons */
.socials {
	margin-top: 8%;
	display: flex;
	justify-content: center;
	gap: 2%;
}
.socials img {
	height: 6vh;
	margin: 2%;
}
.facebook:hover,
.linkedin:hover,
.gitlab:hover {
	opacity: 0.5;
}

/* All or most sections with titles */
h2 {
	margin: 60px 0 20px 20px;
	padding-top: 2%;
	font-size: 3.25em;
	font-weight: 100;
}
.about,
.skills,
.projects,
.contact {
	width: 60%;
	height: 100%;
	margin: 0 auto 0 auto;
	padding: 2.5vh;
}
.about > h2,
.skills > h2,
.projects > h2 {
	color: #39aea9;
	display: flex;
	justify-content: center;
}
.contact > h2,
.contact > p {
	color: #a2d5ab;
	display: flex;
	justify-content: center;
}

/* about section */
#about {
	width: auto;
	height: 100%;
	color: rgb(35, 30, 31);
	font-size: 1.5em;
	line-height: 1.75em;
	background-color: #eee;
}
.quote {
	margin: 1vh 0 10vh 0;
	font-size: 1.5vh;
	line-height: 2.25vh;
	text-align: center;
	align-items: center;
}
.about-me > img {
	height: 22vh;
	margin-right: 2vh;
	padding: 0;
	border-radius: 100%;
	float: left;
}
.about-button {
	margin-top: 10vh;
}

/* skills */
#skills {
	height: 100%;
	background-color: #fff;
}
.skills {
	color: rgb(35, 30, 31);
	font-size: 1.5em;
}
.skill-box {
	margin-bottom: 10%;
	display: flex;
}
.skill-box-1 img,
.skill-box-2 img,
.skill-box-3 img {
	height: 8vh;
}
.skill-box-1,
.skill-box-2,
.skill-box-3 {
	margin: 0 2vh 0 2vh;
}
.skill-1,
.skill-2,
.skill-3 {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.skill-label {
	color: #557b83;
	font-weight: bold;
}
.skill-desc {
	font-size: 1.5vh;
}
.skill-label,
.skill-desc {
	text-align: center;
}
.skill-bar {
	width: 50vw;
	margin-left: 6vh;
	padding: 2vh;
	list-style: none;
	color: #557b83;
	box-shadow: 0 1.4vh 2.8vh rgba(0, 0, 0, 0.25), 0 1vh 1vh rgba(0, 0, 0, 0.22);
}
.skill li {
	margin: 2vh 0;
	padding: 1vh;
}
.skill-bar h3 {
	font-size: 2vh;
	line-height: 5vh;
}
.bar {
	height: 2vh;
	background: rgb(71, 61, 63);
	display: block;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 1vh;
	overflow: hidden;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.bar:hover {
	box-shadow: 0 1.4vh 2.8vh rgba(0, 0, 0, 0.25), 0 1vh 1vh rgba(0, 0, 0, 0.22);
}
.bar span {
	height: 20px;
	float: left;
	background: linear-gradient(135deg, rgb(0, 234, 152) 0%, rgb(0, 163, 247) 100%);
}
.html {
	width: 60%;
}
.javascript {
	width: 30%;
}
.react {
	width: 20%;
}
.node {
	width: 35%;
}
.quote-2 {
	margin-top: 9vh;
	font-size: 1.5vh;
	text-align: center;
	align-items: center;
}

/* projects */
#projects {
	height: 100%;
	background-color: #eee;
}
.main-box-1,
.main-box-2 {
	display: flex;
	flex-wrap: nowrap;
}
.box-1 img,
.box-2 img,
.box-3 img,
.box-4 img {
	height: 30vh;
	border-radius: 30%;
}
.box-1,
.box-2,
.box-3,
.box-4 {
	width: 80%;
	margin: 1vh;
	padding: 0.5vh;
	background-color: #fff;
	display: flex;
	flex-wrap: nowrap;
	border-radius: 1.5vh;
}
.box-desc {
	margin-left: 1vh;
}

/* Contact Page */
#contact {
	height: 90%;
	background-color: rgb(35, 30, 31);
	display: flex;
	align-items: center;
	text-align: center;
}
.contact {
	font-size: 1.5em;
	line-height: 1.75em;
}
.name input,
.email input,
.message textarea {
	width: 60%;
	font-size: large;
	background-color: #eee;
}
textarea {
	width: 50%;
	height: 20vh;
}
li {
	display: inline;
}
.contact-box {
	margin-top: 10%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.contact-1,
.contact-2,
.contact-3 {
	width: 80%;
}
.contact-box img {
	height: 6vh;
}
.contact-label {
	color: #a2d5ab;
	font-size: 1.5vh;
}
footer {
	color: rgb(207, 197, 197);
	background-color: rgb(35, 30, 31);
	align-items: center;
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.5vh;
}
footer a {
	text-decoration: underline;
	decoration: none;
	color: #a2d5ab;
}

/* mobile responsiveness */
@media only screen and (min-width: 320px) and (max-width: 575px) {
	section {
		overflow-x: hidden;
	}
	label {
		display: block;
		cursor: pointer;
	}
	.menu {
		background-color: #557b83;
		text-align: center;
		width: 100%;
		display: none;
	}
	.menu a {
		display: block;
		border-bottom: 1px solid #eaeaeb;
		margin: 0;
	}
	#toggle:checked + .menu {
		display: block;
	}

	/* landing page */
	#landing {
		background-size: 70%;
		background-position-y: 20vh;
	}
	.greeting {
		font-size: 1vh;
		margin-right: 0.75vh;
	}
	.container-greeting {
		padding-top: 28vh;
	}
	h1 {
		font-size: 2em;
	}
	/* Buttons to take you to about section and to view all projects */
	.about-button,
	.projects-button {
		margin-top: 10vh;
	}
	button a {
		font-size: 2vh;
	}
	.socials {
		margin-top: 60%;
		gap: 2%;
	}
	.socials img {
		height: 3.5vh;
	}

	/* About me/Profile page */
	.about-me p {
		font-size: 0.75em;
		line-height: 1.75em;
	}
	.about-me > img {
		height: 10vh;
	}
	.quote {
		font-size: 1vh;
	}
	/* All or most sections with titles */
	.about,
	.skills,
	.projects,
	.contact {
		width: 100%;
		margin-top: 10vh;
	}
	.about > h2,
	.skills > h2,
	.projects > h2,
	.contact > h2 {
		font-size: 2em;
	}

	/* Quotes in skills and profile page */
	.quote,
	.quote-2 {
		line-height: 1.2vh;
	}

	/* skills */
	.skill-box {
		display: block;
	}
	.skill-box-1 img,
	.skill-box-2 img,
	.skill-box-3 img {
		height: 4vh;
	}
	.skill-box-1,
	.skill-box-2,
	.skill-box-3 {
		margin-bottom: 10%;
	}
	.skill-label {
		font-size: 2vh;
	}
	.skill-desc {
		font-size: x-small;
	}
	.skill-bar {
		width: 90%;
		margin-left: 8%;
	}
	.skill-bar h3 {
		font-size: 1.5vh;
	}
	.quote-2 {
		margin-top: 5vh;
		font-size: 1.1vh;
	}

	/* Projects */
	.main-box-1,
	.main-box-2 {
		display: flex;
		flex-wrap: wrap;
	}
	.box-1 img,
	.box-2 img,
	.box-3 img,
	.box-4 img {
		height: 20vh;
		display: block;
		margin: auto;
	}
	.box-1,
	.box-2,
	.box-3,
	.box-4 {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin: 1vh auto 1vh auto;
	}
	h4 {
		margin: 2% 0 1% 0;
	}
	.projects-button {
		margin-top: 1vh;
		padding-bottom: 15%;
	}

	/* Contact */
	.contact > p {
		font-size: 1.2vh;
	}
	.name input,
	.email input,
	.message textarea {
		width: 90%;
	}

	.contact-box {
		display: block;
	}
	.contact-1 img,
	.contact-2 img,
	.contact-3 img {
		height: 2.5vh;
	}
	.contact-1,
	.contact-2,
	.contact-3 {
		width: auto;
	}
	.contact-label {
		font-size: 1.5vh;
	}

	footer {
		font-size: 1.2vh;
	}
}

/* tablet */
@media only screen and (min-width: 600px) and (max-width: 1000px) {
	section {
		overflow-x: hidden;
	}
	#landing {
		background-position: bottom left;
		height: 100%;
		max-width: 100%;
	}
	h1 {
		font-size: 4em;
	}
	h2 {
		font-size: 2em;
	}
	.socials {
		padding-top: 15vh;
	}
	.about-button {
		padding: 0;
	}
	.about-me > p {
		font-size: 2vh;
	}
	.quote,
	.quote-2 {
		line-height: 2vh;
	}

	/* skills */
	.skill-label {
		font-size: small;
		font-weight: bold;
	}
	.skill-desc {
		font-size: x-small;
	}
	.skill-bar {
		list-style: none;
		width: 50vw;
		margin-left: 8%;
		color: #557b83;
		padding: 2vh;
		box-shadow: 0 1.4vh 2.8vh rgba(0, 0, 0, 0.25), 0 1vh 1vh rgba(0, 0, 0, 0.22);
	}
	.skill-bar h3 {
		font-size: 2vh;
		line-height: 5vh;
	}
	.quote-2 {
		margin-top: 8vh;
	}

	/* projects */
	#projects {
		background-color: #eee;
		height: 100%;
	}
	.projects {
		width: 100%;
	}

	.box-1 img,
	.box-2 img,
	.box-3 img,
	.box-4 img {
		height: 20vh;
		display: block;
		margin: auto;
	}

	.box-desc > p {
		font-size: 1.25vh;
	}
	.box-1,
	.box-2,
	.box-3,
	.box-4 {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	/* Contact */
	.contact > p {
		font-size: 2vh;
	}
	.name input,
	.email input,
	.message textarea {
		width: 90%;
		background-color: #eee;
	}
	.contact-label {
		font-size: 1.2vh;
	}
	.contact-box {
		margin-top: 20%;
	}
	.contact-box img {
		height: 4vh;
	}
}

/* Laptop */
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
	#landing {
		background-position: bottom left;
	}
	.about-me > img {
		height: 25vh;
	}

	#projects {
		background-color: #eee;
		height: 100%;
	}
	.projects {
		width: 100%;
	}

	.box-1 img,
	.box-2 img,
	.box-3 img,
	.box-4 img {
		height: 25vh;
		display: block;
		margin: auto;
	}

	.box-desc > p {
		font-size: 1.25vh;
	}
	.box-1,
	.box-2,
	.box-3,
	.box-4 {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	.socials {
		padding-top: 5vh;
	}

	.quote,
	.quote-2 {
		margin-top: 5vh;
	}

	table {
		margin-left: 10%;
	}
}
